{% extends '_layouts/_default.njk' %}
{% set pageTitle = '' %}
{% set pageDescription = '' %}
{% set pagekeywords = '' %}

{% block css -%}{% endblock %}

{% block contents -%}
<main class="main">

	<section class="about" id="about">
		<div class="about__inner">
			<h2 class="key-visual">SHISHA CAFE SLOTH KYOTO</h2>
			<p class="about__lead">京都、シーシャ。</p>
			<p class="about__desc">京都駅・京阪七条近くの<br>
			シーシャ（水タバコ）カフェです。<br>
			落ち着いた空間でゆったりとした<br>
			時間をお楽しみください。</p>
		</div>
	</section>

	<section class="news" id="news">
		<div class="news__inner">
			<h2 class="news__title">定休日</h2>
			<div class="news__body">
				<section class="news-month">
					<h3 class="news-month__title">12<span class="news-month__ruby">月</span> 1<span class="news-month__ruby">月</span></h3>
					<p class="news-month__date">12/16, 25, 29, 31, 1\1, 2, 3</p>
				</section>
			</div>
		</div>
	</section>

	<div class="gallery">
		<div class="gallery__item --left">
			<figure class="gallery__item__thumb">
				<img src="/assets/images/img_gallery_04.jpg" alt="">
				<figcaption>photo by <a href="https://www.instagram.com/superia0120premium/?hl=ja" target="_blank">yuta</a></figcaption>
			</figure>
		</div>
		<div class="gallery__item --right">
			<figure class="gallery__item__thumb">
				<img src="/assets/images/img_gallery_06.jpg" alt="">
				<figcaption>photo by <a href="https://www.instagram.com/superia0120premium/?hl=ja" target="_blank">yuta</a></figcaption>
			</figure>
			<figure class="gallery__item__thumb">
				<img src="/assets/images/img_gallery_05.jpg" alt="">
				<figcaption>photo by <a href="https://www.instagram.com/superia0120premium/?hl=ja" target="_blank">yuta</a></figcaption>
			</figure>

		</div>

		<div class="gallery__item">

		</div>
	</div>

	<section class="information" id="information">
		<div class="information__inner">
			<div class="information__header">
				<h2 class="information__title">INFORMATION</h2>
				<p class="information__ruby">店舗情報</p>
			</div>
			<div class="information__body">
				<div class="googlemap" id="gmap">
					<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d26143.37579989033!2d135.75594949853289!3d35.008658242802596!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x600109a00924ba7f%3A0x48df81f929a506be!2sSloth+kyoto+(Shisha+Cafe)!5e0!3m2!1sja!2sjp!4v1541355864254" width="800" height="600" frameborder="0" style="border:0" allowfullscreen></iframe>
				</div>

				<dl class="information__data">
					<dt class="information__label">住所</dt>
					<dd class="information__desc">〒605-0981 京都府京都市東山区本町8丁目66 りりぱっと七条 1F</dd>
					<dt class="information__label">営業時間</dt>
					<dd class="information__desc">サイト上部、または<a href="https://twitter.com/sloth_kyoto" target="_blank">Twitter</a>にてご確認ください。</dd>
					<dt class="information__label">席数</dt>
					<dd class="information__desc">20席（冬季は炬燵があります！）</dd>
					<dt class="information__label">電話番号</dt>
					<dd class="information__desc"><a href="tel:050-3567-4678">050-3567-4678</a></dd>
					<dt class="information__label">メッセンジャー</dt>
					<dd class="information__desc"><a href="https://www.messenger.com/t/slothkyoto" target="_blank">MESSENGER</a></dd>
					<dt class="information__label">交通手段</dt>
					<dd class="information__desc">京都駅から徒歩10分・京阪七条から徒歩5分</dd>
					<dt class="information__label">駐車場</dt>
					<dd class="information__desc">専用駐車場はございません、近くにコインパーキングがありますのでそちらをご利用ください。</dd>
					<dt class="information__label">決済方法</dt>
					<dd class="information__desc">現金の他にクレジットカード、電子決済が使用できます。</dd>
					<dt class="information__label">WiFi</dt>
					<dd class="information__desc">Free WiFi</dd>
				</dl>
			</div>
		</div>
	</section>

	<div class="gallery">
		<div class="gallery__item  --lg"><img src="/assets/images/img_gallery_01.jpg" alt=""></div>
		<div class="gallery__item"><img src="/assets/images/img_gallery_02.jpg" alt=""></div>
		<div class="gallery__item"><img src="/assets/images/img_gallery_03.jpg" alt=""></div>
	</div>

	<section class="price" id="price">
		<div class="price__inner">
			<div class="price__header">
				<h2 class="price__title">PRICE</h2>
				<p class="price__ruby">料金</p>
				<p class="price__desc">SLOTH KYOTOではシーシャ、ドリンク、席料をあわせた<br class="hidden__sp">セット料金でご案内しております。</p>
			</div>
			<div class="price__body">
				<section class="price-data">
					<h3 class="price-data__title"><span>シーシャセット（シングル）</span></h3>
					<p class="price-data__num">3<span class="price-data__sm">,</span>200<span class="price-data__yen">yen</span></p>
					<p class="price-data__desc">シーシャ1台 / ドリンク（アルコール + 300yen） / 席料</p>
				</section>
				<section class="price-data">
					<h3 class="price-data__title"><span>シーシャセット（シェア・2名様まで）</span></h3>
					<p class="price-data__num">4<span class="price-data__sm">,</span>900<span class="price-data__yen">yen</span></p>
					<p class="price-data__desc">シーシャ1台 / ドリンク2名様分（アルコール + 300yen） / 席料2名様分</p>
				</section>

				<section class="price-data">
					<h3 class="price-data__title"><span>ドリンクセット</h3>
					<p class="price-data__num">700<span class="price-data__yen">yen</span></p>
					<p class="price-data__desc">ドリンク（アルコール + 300yen） / 席料<br>
					シーシャを吸わない方はこちらをどうぞ</p>
				</section>
			</div>
		</div>
	</section>

	<section class="contact" id="contact">
		<div class="contact__inner">
			<div class="contact__header">
				<h2 class="contact__title">CONTACT</h2>
				<p class="contact__ruby">お問い合わせ</p>
				<p class="contact__desc">ご予約、お問い合わせは下記の連絡先かSNSへどうぞ</p>
			</div>
			<div class="contact__body">
				<div class="contact-btn">
					<div class="contact-btn__item --email"><a href="mailto:info@sloth-kyoto.com">E-MAIL</a></div>
					<div class="contact-btn__item --messenger"><a href="https://www.messenger.com/t/slothkyoto" target="_blank">MESSENGER</a></div>
				</div>
				<div class="contact-phone">
					<a href="tel:050-3567-4678">
						<p class="contact-phone__number"><span class="hidden__sp">050-3567-4678</span><span class="hidden__pc">CALL</span></p>
					</a>
				</div>
			</div>
		</div>
	</section>
</main>

<footer class="site-footer hidden__pc">

	<ul class="nav-sns">
		<li class="nav-sns__item --instagram"><a href="https://www.instagram.com/sloth_kyoto/" target="_blank"><i class="icon icon-instagram"></i></a></li>
		<li class="nav-sns__item --twitter"><a href="https://twitter.com/sloth_kyoto/" target="_blank"><i class="icon icon-twitter"></i></a></li>
	</ul>

	<p class="copyright"><small>© 2018-2021 SLOTH</small></p>

</footer>
{%- endblock %}

{% block js -%}{% endblock %}